  .outer-container {
    width: 100%;
    font-family: $fontMontserrat;
  }

  .header-menu-bg {
    background-color: #27262a;
  }

  .headerNavBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 31px 3%;
    margin: 0 auto;

    &__logo {
      width: 43px;
      height: 41px;
      background: url("../img/Logo.png") no-repeat;
      cursor: pointer;
      font-family: $fontLato;
    }

    &__logo:hover {
      background: url("../img/Logo_hover.png") no-repeat;
      color: #fff;
    }

    &__burgerMenuIcon {
      @include burgerMenuBar(25px);
      position: relative;
    }

    &__burgerMenuIcon::before {
      @include burgerMenuBar(20px);
      @extend %burgerBarPosAbsolute;
      top: -7px;
      right: 0;
    }

    &__burgerMenuIcon::after {
      @include burgerMenuBar(25px);
      @extend %burgerBarPosAbsolute;
      bottom: -7px;
    }
  }

  .navMenu {
    display: none;

    &__item {
      position: relative;
      padding: 30px;
      border-bottom: 2px solid #3b3b3b;
      font-size: 20px;
      background-color: #333333;
      color: #fff;
    }


    &__item:active {
        color: $purpleColor;
    }

    &__item:active::before {
        content: "";
        position: absolute;
        left: 0;
        top: 15px;
        width: 8px;
        height: 53px;
        background-color: $purpleColor;
    }
  }

  .navMenu-active {
    width: 100% - 20px/320px*100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -328px;
  }

  .header-description-bg {
    background: url("../img/Laptop_background.png") no-repeat center;
    -webkit-background-size: cover;
    background-size: cover;
  }

  .headerAppDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 30px 380px;

    &__appName {
      font-size: 44px;
      font-weight: 700;
      color: #fff;
    }

    &__descr {
      padding: 20px 0;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #7a7096;
      font-family: $fontLato;
    }

    &__version {
      font-size: 11px;
      color: #737b84;
    }
  }

@media screen and (min-width: $tabletBreakPoint){
  .headerNavBar {
    padding: 22px 10px;

    &__logo::after {
      content: "FORKIO";
      padding-left: 60px;
      font-size: 18px;
      line-height: 41px;
      font-weight: 700;
      color: $purpleColor;
    }

    &__logo:hover::after {
      color: #fff;
    }

    &__burgerMenuIcon {
      display: none;
    }
  }

  .purpleBtn {
    padding: 11px 35px;
    border-radius: 25px;
  }

  .navMenu {
    flex-basis: 60%;
    padding: 20px 20% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      position: static;
      padding: 0;
      border-bottom: none;
      font-size: 12px;
      font-weight: 700;
      background-color: inherit;
      color: $purpleColor;
    }

    &__item:hover {
      color: #fff;
    }
  }

  .headerAppDescription {
    padding: 50px 105px/768px*100% 485px;

    &__appName {
      font-size: 65px;
    }

    &__descr {
      padding: 20px 0;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #7a7096;
    }
  }

  .purpleBtn-download {
    position: relative;
    bottom: -516px;
    width: 390px;
    padding: 23px 0;
    border-radius: 70px;
    font-size: 16px;
  }

  .purpleBtn-download::after {
    bottom: -30px;
    font-size: 14px;
  }
}

@media screen and (min-width: $desktopBreakPoint){
  .headerNavBar {
    flex-wrap: nowrap;
    padding: 30px 90px;

    &__logo {
      margin-right: 30%;
    }
  }

  .purpleBtn {
    order: 3;
    font-size: 16px;
  }

  .navMenu {
    order: 2;
    flex-basis: 46%;
    padding: 0;

    &__item {
      font-size: 16px;
    }
  }

  .headerAppDescription {
    padding: 60px 320px/1380px*100% 485px;

    &__appName {
      font-size: 75px;
    }

    &__descr {
      font-size: 22px;
      line-height: inherit;
    }

    &__version {
      font-size: 12px;
    }
  }
}

@media screen and (min-width: $retinaBreakPoint){
  .headerNavBar {
    width: 1180px;
    padding: 30px 10px;
  }

  .purpleBtn-download {
    bottom: -517px;
  }
}
