$purpleColor: #8d81ac;

$blackTxt: #323232;

$fontLato: 'Lato', sans-serif;
$fontMontserrat: 'Montserrat', sans-serif;

$mobileBreakPoint: 480px;
$tabletBreakPoint: 992px;
$desktopBreakPoint: 1200px;
$retinaBreakPoint: 1201px;
