.revolutionaryEditor {
    padding-top: 120px;
    
    .revolutionary-editor-container {
        background-color: #fff;
        padding-bottom: 88px;
    }

    .editor-features-container {
        padding-top: 34px;
        background-color: #f4f4f4;

        .editor-features__list {

            &__item {

                &__img {

                }
                
                &__title {

                }

                &__text {

                }
            }
        }
    }
}