@mixin burgerMenuBar($width) {
  width: $width;
  height: 2px;
  border-radius: 2px;
  background-color: #e5e3e3;
}

$purpleColor: #8d81ac;

%burgerBarPosAbsolute {
  content: "";
  position: absolute;
}

.header-menu-bg {
  background-color: #27262a;
}

.headerNavBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 31px 3%;
  margin: 0 auto;

  &__logo {
    width: 43px;
    height: 41px;
    background: url("../../dist/img/Logo.png") no-repeat;
    cursor: pointer;
  }

  &__logo:hover {
    background: url("../../dist/img/Logo_hover.png") no-repeat;
    color: #fff;
  }

  &__burgerMenuIcon {
    @include burgerMenuBar(25px);
    position: relative;
  }

  &__burgerMenuIcon::before {
    @include burgerMenuBar(20px);
    @extend %burgerBarPosAbsolute;
    top: -7px;
    right: 0;
  }

  &__burgerMenuIcon::after {
    @include burgerMenuBar(25px);
    @extend %burgerBarPosAbsolute;
    bottom: -7px;
  }
}

.purpleBtn {
  padding: 12px 25px;
  border-radius: 25px;
  font-size: 13px;
  font-weight: 700;
  background-color: $purpleColor;
  color: #fff;
}

.purpleBtn:hover {
  background-color: #fff;
  color: $purpleColor;
}

.navMenu {
  display: none;

  &__item {
    position: relative;
    padding: 30px;
    border-bottom: 2px solid #3b3b3b;
    font-size: 20px;
    background-color: #333333;
    color: #fff;
  }

  @media screen and (max-width: 480px){
    &__item:active {
      color: $purpleColor;
    }

    &__item:active::before {
      content: "";
      position: absolute;
      left: 0;
      top: 15px;
      width: 8px;
      height: 53px;
      background-color: $purpleColor;
    }
  }
}

.navMenu-active {
  width: 100% - 20px/320px*100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -328px;
}

.header-description-bg {
  background: url("../../dist/img/Laptop_background.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.headerAppDescription {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 45px 30px 380px;

  &__appName {
    font-size: 44px;
    font-weight: 700;
    color: #fff;
  }

  &__descr {
    padding: 20px 0;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #7a7096;
  }

  &__version {
    font-size: 11px;
    color: #737b84;
  }
}

.purpleBtn-download {
  position: relative;
  bottom: -403.5px;
  width: 111.54%;
  padding: 15px 0;
  border: 1px solid $purpleColor;
  border-radius: 30px;
  font-size: 15px;
  text-align: center;
}

.purpleBtn-download:hover {
  border: 1px solid $purpleColor;
}

.purpleBtn-download::after {
  position: absolute;
  left: 0;
  bottom: -25px;
  width: 100%;
  content: "Unlimited 30-Days Trial Period";
  font-size: 12px;
  font-weight: 400;
  color: #a5acb3;
}

@media screen and (min-width: 481px) and (max-width: 992px){
  .headerNavBar {
    padding: 22px 10px;

    &__logo::after {
      content: "FORKIO";
      padding-left: 60px;
      font-size: 18px;
      line-height: 41px;
      font-weight: 700;
      color: $purpleColor;
    }

    &__logo:hover::after {
      color: #fff;
    }

    &__burgerMenuIcon {
      display: none;
    }
  }

  .purpleBtn {
    padding: 11px 35px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    background-color: $purpleColor;
    color: #fff;
  }

  .navMenu {
    flex-basis: 60%;
    padding: 20px 20% 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      position: static;
      padding: 0;
      border-bottom: none;
      font-size: 12px;
      font-weight: 700;
      background-color: inherit;
      color: $purpleColor;
    }

    &__item:hover {
      color: #fff;
    }
  }

  .headerAppDescription {
    padding: 50px 105px/768px*100% 485px;

    &__appName {
      font-size: 65px;
    }

    &__descr {
      padding: 20px 0;
      font-size: 20px;
      line-height: 26px;
      text-align: center;
      color: #7a7096;
    }
  }

  .purpleBtn-download {
    position: relative;
    bottom: -516px;
    width: 390px;
    padding: 23px 0;
    border-radius: 70px;
    font-size: 16px;
  }

  .purpleBtn-download::after {
    bottom: -30px;
    font-size: 14px;
  }
}

@media screen and (min-width: 993px) and (max-width: 1200px){
  .headerNavBar {
    flex-wrap: nowrap;
    padding: 30px 90px;

    &__logo {
      margin-right: 35%;
    }

    &__logo::after {
      content: "FORKIO";
      padding-left: 60px;
      font-size: 18px;
      line-height: 41px;
      font-weight: 700;
      color: $purpleColor;
    }

    &__logo:hover::after {
      color: #fff;
    }

    &__burgerMenuIcon {
      display: none;
    }
  }

  .purpleBtn {
    order: 3;
    padding: 11px 35px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 700;
    background-color: $purpleColor;
    color: #fff;
  }

  .navMenu {
    order: 2;
    flex-basis: 43%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      position: static;
      padding: 0;
      border-bottom: none;
      font-size: 16px;
      font-weight: 700;
      background-color: inherit;
      color: $purpleColor;
    }

    &__item:hover {
      color: #fff;
    }
  }

  .headerAppDescription {
    padding: 60px 320px/1380px*100% 485px;

    &__appName {
      font-size: 75px;
    }

    &__descr {
      font-size: 22px;
      line-height: inherit;
    }

    &__version {
      font-size: 12px;
    }
  }

  .purpleBtn-download {
    width: 390px;
    padding: 23px 0;
    position: relative;
    bottom: -516px;
    border-radius: 70px;
  }

  .purpleBtn-download::after {
    font-size: 14px;
  }
}

@media screen and (min-width: 1201px){
  .headerNavBar {
    flex-wrap: nowrap;
    width: 1180px;
    padding: 30px 10px;

    &__logo {
      margin-right: 35%;
    }

    &__logo::after {
      content: "FORKIO";
      padding-left: 60px;
      font-size: 18px;
      line-height: 41px;
      font-weight: 700;
      color: $purpleColor;
    }

    &__logo:hover::after {
      color: #fff;
    }

    &__burgerMenuIcon {
      display: none;
    }
  }

  .purpleBtn {
    order: 3;
    padding: 11px 35px;
    border-radius: 25px;
    font-size: 16px;
  }

  .navMenu {
    order: 2;
    flex-basis: 43%;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      position: static;
      padding: 0;
      border-bottom: none;
      font-size: 16px;
      font-weight: 700;
      background-color: inherit;
      color: $purpleColor;
    }

    &__item:hover {
      color: #fff;
    }
  }

  .headerAppDescription {
    padding: 60px 320px/1380px*100% 485px;

    &__appName {
      font-size: 75px;
    }

    &__descr {
      font-size: 22px;
      line-height: inherit;
    }

    &__version {
      font-size: 12px;
    }
  }

  .purpleBtn-download {
    width: 390px;
    padding: 23px 0;
    position: relative;
    bottom: -517px;
    border-radius: 70px;
  }

  .purpleBtn-download::after {
    font-size: 14px;
  }
}
